<div class="container-fluid">

  <div class="row top-row">
    <h2></h2>
  </div>
  <div class="grid">
    <div class="row">
      <h4>Sentiment Analysis of File - {{fileNumber}}</h4>
    </div>

    <div class="row" *ngFor = "let emotion of emotions">
      
       <span class = "col-md-1 smiley">{{switchEmotion(emotion.sentiment)}}</span><div class="col-md-6 sentiment-emotion">{{emotion.sentiment}}</div>
      
  
      </div>
    
    <div class="row overall-sentiment">
      <div class="col-md-4 sentiment-emotion ">Overall Sentiment: <b style= "font-size: 1.5em; font-weight: 900">{{overAllEmotion}}</b></div><span class = "col-md-1 smiley">{{switchEmotion(overAllEmotion)}}</span>
    </div>
  </div>


  <div class="row home-link">
      <div class="col-md-4 sentiment-emotion "><a [routerLink] = "['/home']">Home</a></div>
    </div>
</div>