<div class="container-fluid">

  <div class="row top-row">
    <h2></h2>
  </div>
  <div class="grid">
    <div class="row">
      <h4>Sentiment Analysis of File </h4>
    </div>

    <!-- <div class="row">

      <span class="col-md-1 smiley">{{switchEmotion(emotions.text_sentiment)}}</span>
      <div class="col-md-6 sentiment-emotion">{{emotions.text_sentiment}}</div>


    </div> -->

    <div class="row">

      <div class="row col-md-4">
        <h4>Sentiment Analysis from voice </h4>
      </div>
      <div class="row col-md-3">
        <h4> {{switchEmotion(emotions.voice_sentiment)}}</h4>
      </div>
      <div class="row col-md-4">
        <h4>{{emotions.voice_sentiment}} </h4>
      </div>

    </div>


    <div class="row">

      <div class="row col-md-4">
        <h4>Sentiment Analysis from texxt </h4>
      </div>
      <div class="row col-md-3">
        <h4> {{switchEmotion(emotions.text_sentiment)}}</h4>
      </div>
      <div class="row col-md-4">
        <h4>{{emotions.text_sentiment}} </h4>
      </div>

    </div>


  </div>


  <div class="row home-link">
    <div class="col-md-4 sentiment-emotion "><a [routerLink]="['/home']">Home</a></div>
  </div>
</div>