
.sentiment-emotion{

    margin:10px 0px;
    font-size: 20px;
    padding-top: 10px;
    font-weight: 600;
}

.smiley{
    font-size: 3em;
}


.overall-sentiment{
    margin-top: 20px;
}

.home-link{

    margin-top: 40px;
}


.top-row{

    margin-top: 30px;
}