<div class="container-fluid">

  <div class="row">
    <h2></h2>
  </div>
  <div class="grid">
    <div class="row">
      <h4>Sentiment Analysis of File - File 1</h4>
    </div>

    <div class="row">
      <div class="col-md-6 sentiment-emotion">Happy- 60%</div>
    </div>
    <div class="row">
      <div class="col-md-6 sentiment-emotion">Angry- 40%</div>
    </div>
    <div class="row">
      <div class="col-md-6 sentiment-emotion">Sarcastic- 50%</div>
    </div>
    <div class="row">
      <div class="col-md-6 sentiment-emotion ">OverAll Sentiment- Happy</div>
    </div>
  </div>
</div>

