

.app-header{
    height:40%;
    background-color: orange;
    position:relative;
    text-align:center;
    
}

h2 {
    color: black;
    font-family: 'Open Sans',
}

.btn-primary{

        font-family: 'Open Sans';
        background-color: grey;
        font-size : 20px;
        margin:15px;
        border-color: none;
        border: none;
}