<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> -->

<div class="container-fluid">
  <div class="row">
    <div class="text-center">



      <button type="button" class="btn btn-primary">
        Speak into the mic!
      </button>
      <button type="button" class="btn btn-primary" (click)="triggerAddRecording()">
        Add a recording!
      </button>

    </div>
  </div>


  <div class="form-group" [hidden]="!uploadRecording">

    <form [formGroup]="formGroup" novalidate (ngSubmit)="submitAudio()">
      <div class="col-md-4">
        <span>File Name:</span> <input type="text" formControlName="name" class="form-control" id="userName">
      </div>
      <div class="col-md-6">
        <input type="file" (change)="onFileChange($event)" accept="audio/*, video/*" >
      </div>
      
        <button type="submit" style="margin: 5px 0px;">Submit</button>
      

    </form>

  </div>

  <div [hidden]="!recordingsUploaded">
    <div>
      <span>{{uploadedRecordingsTitle}}</span>
    </div>
    <ul>
      <li *ngFor="let recording of UploadedRecordings">
        <span>{{recording.name}}</span>
        <span></span>
        <a routerLink ="/sentiment-analysis">{{recording.date}}</a>
      </li>
    </ul>

  </div>

  <!-- <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />

  <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
    [disabled]="!uploader.getNotUploadedItems().length">
    Upload an Image
  </button> -->

</div>